{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}



<div class="content-section">
   <form method="POST">
      {% csrf_token %}

   <fieldset class="form-group">
      {% if object.author == user %}
      <legend class="border-bottom mb-4"> Update the project in progress...</legend>
      {% else %}
      <legend class="border-bottom mb-4"> New project in progress...</legend>
      {% endif %}

 
      <p>________________________________________________________________________________________________________</p>
    
     {{ form|crispy }}


   </fieldset>
   <div class="form-group">
     
      <button class="btn btn-outline-info" onclick="afficherMessage()" type="submit"> Submit</button>
     
   </div>

</form>
</div>

{% endblock %}