{% extends "blog/base.html" %}
{% block content %}



<div class="chat-container">
  <h6 class="user-connected">{{ user }}</h6>

  <form id="message-form">
    <button type="submit" id="send">Send</button>
    {% if user.username == 'ClaudiuAdmin' %}
    <button type="button" id="delete-btn">Delete</button>
    {% endif %}
    <input type="text" id="message" />
  </form>
  <ul id="chat" class="chat1"></ul>
</div>




<script>
const userNameElement = document.querySelector('.user-connected');
const userName = userNameElement.textContent;

let input = document.getElementById("message");
let chatList = document.getElementById("chat");
chatList.style.overflow = "scroll";
chatList.style.height = "200px";

// Charge les messages du chat depuis le stockage local
let messages = loadMessages();

// Affiche les messages du chat
for (let i = 0; i < messages.length; i++) {
  let li = document.createElement("li");
  li.textContent = messages[i];
  chatList.appendChild(li);
}

let form = document.getElementById("message-form");
form.addEventListener("submit", function(event) {
  // Empêche l'envoi du formulaire et le rechargement de la page
  event.preventDefault();

  // Récupère le message et le nom de l'utilisateur
  let message = input.value;
  let date = new Date();


  // Affiche le message avec le nom de l'utilisateur et l'heure
  let fullMessage = userName + " send : " + message;
  let li = document.createElement("li");
  li.textContent = fullMessage;
  chatList.appendChild(li);

  // Ajoute le message au tableau de messages et enregistre les messages dans le stockage local
  messages.push(fullMessage);
  saveMessages(messages);
});

// Fonction qui charge les messages du chat depuis le stockage local
function loadMessages() {
  return JSON.parse(localStorage.getItem("messages")) || [];
}

// Fonction qui enregistre les messages du chat dans le stockage local
function saveMessages(messages) {
  localStorage.setItem("messages", JSON.stringify(messages));
}

document.getElementById("delete-btn").addEventListener("click", function() {
  // Supprime tous les messages du tableau de messages
  messages = [];
  // Enregistre les messages mis à jour dans le stockage local
  saveMessages(messages);
  // Supprime tous les éléments de la liste de chat
  while (chatList.firstChild) {
    chatList.removeChild(chatList.firstChild);
  }
});

</script>




{% endblock content %}
