{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<html>



    <script>
        window.onload = function() {
            // Récupérer la valeur de elementAdded à partir du stockage local
            let elementAdded = JSON.parse(localStorage.getItem('elementAdded'));

            if (elementAdded) {
                alert('Drag-n-Drop changed!');

                // Mettre à jour la valeur de elementAdded dans le stockage local
                elementAdded = false;
                localStorage.setItem('elementAdded', elementAdded);  
                console.log(elementAdded );
            }
        }
    </script>

    

    <!-- Autres éléments HTML -->
</html>


{% endblock %}
