{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
   <form method="POST">
      {% csrf_token %}

   <fieldset class="form-group">
      {% if object.author == user %}
      <legend class="border-bottom mb-4"> Update the project in progress...</legend>
      {% else %}
      <legend class="border-bottom mb-4"> New project in progress...</legend>
      {% endif %}

      <p>Choose the title of the project.</p>
      <p>Choose some contributor for your project.</p>
      <p>________________________________________________________________________________________________________</p>
      <p>Make sure you first write the number of the task or subtask followed by a "."</p>
      <p>Then indicate the name of the task or subtask.</p>
      <p>Once this is done, indicate with the help of a "-" the user who will assign your task or subtask and finish with a ";".</p>
      <p>Only the user assigned can modify the status of his task or subtask</p>
      <p>The Creator of the project can modify all</p>
      <p>Go to the line and add the status you want followed by a ";".</p>
      <p>Repeat the action for all your tasks and subtasks.</p>

     {{ form|crispy }}

     <script>
      // Fonction qui affiche un message de bienvenue
      function afficherMessage() {
        alert("Project update !");
      }
    </script>
    
   </fieldset>
   <div class="form-group">
     
      <button class="btn btn-outline-info" onclick="afficherMessage()" type="submit"> Update the project</button>
     
   </div>

</form>
</div>

{% endblock %}